body{
    background: rgba(60, 117, 160, 0.08);
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 253px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: linear-gradient(160deg, #1C4F94 10%, #2F80ED 69%);
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
   font-family: poppins;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 64px;
  text-decoration: none;
  color: rgba(32, 32, 32, 0.5);
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background: linear-gradient(100deg, #1C4F94 10%, #215CAB 69%);
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }

.logo{
    position: absolute;
    width: 148px;
    left: calc(50% - 148px/2 - 2.5px);
    top: 16px;
}

.sidenav .foto_profil .fotoprofil {
    position: absolute;
    left: 125px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    transform: translate(-50%,50%);
    margin-bottom: 20px;

    background: linear-gradient(180deg, #FFC897 15.1%, #FFBF03 100%, #FFD458 100%)
    }

.sidenav .foto_profil .foto{
    position: absolute;
    left: 93.5px;
    top: 100px;
}

.sidenav h1{
    height: 176px;
}

.sidenav h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;

    color: #FFFFFF;
}

.sidenav h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;

    color: #FFFFFF;
}


.isi{
    position: absolute;
    width: 988px;
    height: 890px;
    left: 313px;
    top: 108px;

    background: #FFFFFF;
    border-radius: 25px;
}

.isi a{
    position: absolute;
    width: 300px;
    height: 42px;
    left: 88px;
    top: 24px;
    cursor: normal;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    color: #000000;
}

.isi .bi-arrow-left{
    position: absolute;
    left: 43px;
    height: 30px;
    width: 30px;
    top: 0px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%,50%);
    border-radius: 100%;
    border: 7px solid;
    border-color: #ffffff;
}

.isi .bi-arrow-left:hover{
    background: #f1f1f1;
    border-color: #f1f1f1;
    cursor: pointer;
}

.isi .editfoto{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 148px;
    top: 50px;
    transform: translate(-50%,50%);
    border-radius: 100%;
    background: #C4C4C4;
}

.pilihto{
    position: absolute;
    width: 138px;
    height: 48px;
    left: 1240px;
    top: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 48px;
    /* identical to box height */

    text-align: center;
    border: none;
    color: #FFFFFF;
    background: #2F80ED;
    border-radius: 5px;
}

.pilihto:hover{
    background: #2C76DB;
    cursor: pointer;
}

.notif{
    position: absolute;
    left: 1190px;
    top: 25px;
    font-weight: 500;
    font-size: 25px;
    line-height: 48px;
}

.tanggal{
    position: absolute;
    width: 100%;
    height: 24px;
    left: 970px;
    top: 32px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #4F4F4F;
}

.simpanubah{
    position: absolute;
    width: 172px;
    height: 48px;
    left: calc(50% - 172px/2 + 357px);
    top: 630px;
    border:none;
    background: #FFAF68;
    border-radius: 5px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #A7550C;
}

.simpanubah:hover{
  background: #FA9B4F;
  cursor: pointer;
}